.topbar-contact-email{
    display: flex;
    gap: 25px;
}
.email{
    display: flex;
    gap: 10px;
}
.phone{
    display: flex;
    gap: 10px;
}
.topbar-contact-email {
  display: flex;
  gap: 25px;
}

.email {
  display: flex;
  gap: 10px;
}

.phone {
  display: flex;
  gap: 10px;
}

#basic-button {
  color: white;
  font-size: 25px;
  display: none; 
}

@media (max-width: 992px) {
  .topbar-contact-email {
    justify-content: center;
  }

  .email,
  .phone {
    display: none; 
  }

  #basic-button {
    display: block;
  }
}

#basic-button{
    color: white;
    font-size: 20px;
  
}