.topbar {
  display: flex;
  justify-content: space-around;
  background: #000;
  color: white;
  padding: 15px;
  font-size: 15px;
  flex-wrap: wrap; /* responsivliyi yaxşılaşdırmaq üçün */
  text-align: center;
}

/* 💊 Planşet (900px və aşağı) */
@media (min-width: 768px) and (max-width: 992px) {
  .topbar {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    padding: 10px;
  }
}

/* 📱 Telefon (600px və aşağı) */
@media (max-width: 768px) {
  .topbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 10px;
  }
}

.navbar{
  /* width: 1100px; */
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

