.topbar {
  min-width: 1200px;
  display: flex;
  justify-content: space-around;
  background: #000;
  color: white;
  padding: 15px;
  font-size: 16px;
  flex-wrap: wrap; /* responsivliyi yaxşılaşdırmaq üçün */
  text-align: center;
}

/* 💊 Planşet (900px və aşağı) */
@media (min-width: 576px) and (max-width: 768px) {
  .topbar {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    padding: 10px;
  }
}

/* 📱 Telefon (600px və aşağı) */
@media (max-width: 576px) {
  .topbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 10px;
  }
}

.container{
  width: 85%; /* və ya konkret ölçü: 1200px və s. */
  height: 110px;
  margin: 0 auto; /* Ortada yerləşdirmək üçün */
  padding: 20px;
  max-width: 1200px; /* Maksimum eni məhdudlaşdırmaq üçün */
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

